.sell-class{
    background-color: lightblue;

    display: flex;
    flex-direction: row;
}


.sell-class div{
    margin: 3em;
}

.sell-class > div:first-child{
    border-right: 1px solid black;
    padding-right: 20px;
}
