#auth-section{
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(186, 216, 226);
}

#auth-section.hide{
  display: none;
}

#login-div{
  display: flex;
  flex-direction: column;
  gap: 1em;

  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(47, 118, 199);

  padding: 2em;

}

#blog-section {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  display: grid;
  grid-template-areas:
    "header header header"
    "left-aside main-container right-aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr 30px;
  grid-template-columns: 1fr 6fr 1fr;
}

#blog-section.hide{
  display: none;
}
#header {
  grid-area: header;
  background-color: lightblue;

  display: flex;
  align-items: center;
  justify-content: center;
}
#home {
  cursor: pointer;
}

#main-container {
  grid-area: main-container;
  background-color: lightgray;
}

#left-aside {
  grid-area: left-aside;
}

#right-aside {
  grid-area: right-aside;
}

footer {
  grid-area: footer;

  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card {
  border: solid 3px darkblue;
  border-radius: 10px;

  margin: 1em 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-card {
  border: solid 3px darkblue;
  border-radius: 10px;

  margin: 1em 12px;
  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.controls-container {
  display: flex;

  flex-direction: row;
  justify-content: space-around;
}

#loadMore-span {
  cursor: pointer;
  padding: 0px 45%;
}

.hide {
  display: none;
}

@media only screen and (max-width: 750px) {
  .controls-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .controls-container > *{
    /* margin: 0px 1em 1em 1em; */
    margin: auto;
    margin-top: 1em;
  }
}
