#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #abc9e7;
  min-height: 100%;
  text-align: center;
}



#login-div {
  display: flex;
  flex-direction: column;
  gap: 1em;

  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(127, 175, 230);

  padding: 2em;
}
