.wrapper {
  width: 100%;
  overflow: hidden; /* contain floated children */
}

/* Sidebar nav */
.sidebar {
  float: left;
  width: 22%;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: #f0f0f0; */
  border-right: 1px solid black;
   border-bottom: 1px solid black;
}

/* Menu content area */
.menu-content {
  float: left;
  width: 75%;
  padding: 20px;
  box-sizing: border-box;
}

/* Style menu items */
.menu-img {
  overflow: hidden;
  margin-bottom: 30px;
 border:8px solid rgba(235, 91, 48, 0.733);
    border-radius: 8px;
    width: 80%;
  padding-bottom: 15px;
}

.menu-img img {
  float: right;
  width: 150px;
  margin-left: 20px;
}