.calc {
  height: 600px;
  width: 600px;
  margin: auto;

  border: 2px solid black;
  background-color: lightgray;

  display: grid;
  grid-template-areas:
    "display display display display"
    "button button button operators";
}

.display-box {
  grid-area: display;
  border: 2px solid black;
  background-color: white;
  margin: 10px;

  font-size: xx-large;
  font-weight: bolder;
  text-align: right;
}

.button-box {
  grid-area: button;
  border: 2px solid black;
  background-color: gray;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.operator-box {
  grid-area: operators;
  border: 2px solid black;
  background-color: darkgray;
  margin: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}